@import 'styles/base.scss';
@import 'styles/baron.scss';
@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/header.scss';
@import 'styles/main.scss';
@import 'styles/footer.scss';

@media (max-width: 1140px) {
    .categories .single_cat{
        margin: 0 50px 35px 50px;
    }
    .news_slider_wrapper{
        width: 768px;
        height: 256px;
    }
    .news_slider .slide{
        width: 350px;
        height: 256px;
    }
    .news_slider .slide img{
        width: auto;
        height: 100%;
    }
    .news_slider .slide .slide_description{
        width: 155px;
        padding: 10px 10px 65px 10px;
        height: 256px;
    }
    .news_slider .slide .slide_description p.heading{
        font-size: 18px;
    }
    .news_slider .slide .slide_description p.date{
        margin: 0 0 15px 0;
    }
    .news_slider .slide .slide_description p.lead{
        font-size: 12px;
    }
    .news_slider .slide .slide_description .author{
        display: none;
    }
    .about_section{
        padding: 165px 0;
    }
    .about_wrapper, #about_txt h3{
        text-align: center;
    }
    .about_wrapper img{
        display: none;
    }
    .footer_wrap{
        margin: 0 20px;
    }
    .has_big_letters:before{
        font-size: 188px;
    }
}
@media (max-width: 768px) {
    .news_slider_wrapper{
        width: 100%;
        height: 533px;
        text-align: center;
    }
    .news_slider .slide{
        margin-bottom: 20px;
    }
}
@media (min-width: 280px) and (max-width: 768px) {
    .about_txt{
        width: 100%;
    }
    .has_big_letters:before{
        display: none;
    }
    .header_search_form{
        width: 100%;
        left: 0;
        margin-left: 0;
    }
    .header_search_form input[type="text"]{
        width: calc(100% - 50px);
    }
    .header_search_form:before{
        width: 100%;
    }
    .news_slider{
        margin: 20px 0 0 0;
    }
    .has_big_letters:before, .about_section:before, .about_section:after, .categories{
        display: none;
    }
    .trip_slider{
        margin: 0 0 0 50px;
    }
    .footer_col{
        width: 100%;
    }
    .nav_btn{
        right: 10px;
    }
    .weather_top_blk{
        padding-left: 10px;
    }
}