@import './variables';

footer{
    display: block;
    background: #2b3a4d;
    padding-top: 45px;
    position: relative;
    z-index: 2;
}
.footer_wrap{
    display: block;
    max-width: 1140px;
    margin: 0 auto;
}
.footer_col{
    display: inline-block;
    vertical-align: top;
    width: calc((100% - 40px) / 3);
    margin-right: 15px;
}
.footer_col:last-child{
    margin-right: 0;
}
.footer_col p{
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.92;
    letter-spacing: -0.3px;
    color: #a7c2dd;
    margin: 0;
}
.footer_col p.head{
    font-family: Arial, sans-serif;
    font-size: 24px;
    letter-spacing: 5.1px;
    color: #668099;
    margin: 0 0 48px 0;
    position: relative;
}
.footer_col p.head:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #5a748f;
    left: 0;
    top: 24px;
}
.footer_col p.head span{
    background: #2b3a4d;
    padding-right: 28px;
    position: relative;
}
.footer_col p.form{
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.3px;
    color: #a5c0dc;
    margin-bottom: 30px;
}
.footer_col a{
    display: block;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: #a7c2dd;
    position: relative;
    margin-bottom: 8px;
}
.footer_col a:before{
    content: "â—";
    font-size: 18px;
    margin-right: 15px;
}
.footer_col>span{
    font-family: Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 0.1px;
    color: #567392;
    margin:0 0 21px 26px;
    display: block;
}
.footer_col input[type="text"], .footer_col input[type="email"]{
    width: 100%;
    height: 35px;
    border: 1px #bccee2 solid;
    border-width: 0 0 1px 0;
    background: transparent;
    outline: none;
    margin-bottom: 21px;
    color: #fff;
}
.footer_col input[type="submit"]{
    display: block;
    background: transparent;
    height: 35px;
    width: 100%;
    border: solid 2px #bccee2;
    outline: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.copyright{
    display: block;
    line-height: 100px;
    background: #35393e;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 12px;
    letter-spacing: -0.3px;
    color: #4d6a8d;
    margin-top: 43px;
}